/** FONTS **/

html, body { font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; font-size: 100%; }

h1 { font-size: 2em; line-height: 1.3em; font-weight: normal; }
#sidebar .cash,
h2 { font-size: 1.2em; line-height: 1.3em; font-weight: normal; }
h3 { font-size: 1em; line-height: 1.3em; font-weight: bold; }

#sidebar table,
#raw_history { font-size: 0.8em; }

table th { font-weight: normal; padding-right: 1em; }

/** COLORS **/
/* Scheme: #012744, #155764, #588681, #8c9c88, #f2dbae */

header a:hover,
body { background-color: #f2dbae; color: #012744; }

header,
footer { background-color: #8c9c88; }

a { color: #000; }
a:hover { text-decoration: none; }

#price.too_much,
.error { background-color: #f99; color: #600; border: 1px solid #600; }

p.no_preds,
li time { color: #155764; }

/** POSITION & SIZE **/

body { width: 40em; margin: 0 auto; position: relative; }

footer,
header { padding: 1em; }

header a { padding: 0 2px; }

article { margin: 1em 1em; max-width: 40em; }

#personaButtons { float: right; }

table th { text-align: right; }

ul, ol { padding-left: 0; }

li { margin: .5em 0; }

table.pred_info td,
#raw_history td { padding-left: 1em; }

article li time { margin-left: 1em; }

.error { padding: .5em 1em; }

#settle { text-align: center; }

p.no_preds,
footer { text-align: center; }

footer { padding-bottom: 20em; }
footer .version { margin-left: 3em; }

#sidebar .cash { display: block; }

#sidebar,
article { float: left; }

#sidebar { position: absolute; left: 41em; top: 5em; width: 15em; }

#sidebar td { padding-right: .5em; }

article { width: 38em; }

footer { clear: both; }
